/* h1 {
    color: blueviolet !important;
    background-color: aqua;
} 

h1 {
    color: yellow;
}

p {
    color: blue;
    background-color: chartreuse;
}

*/

/* Selettori di tipo o elementi e anche come lista dato dalla virgola*/

h1 {
    font-size: medium;
    color: green;
}

p, span {
    background-color: red;
}

img {
    max-width: 400px;
    max-height: 400px;
}

/* Con l'asterisco noi andiamo a mettere il selettore universale che impone su tutto un certo stile */
/* 


/* Selettori di classe */
.warning {
    border: 1px solid red;
}

.prova.warning {
    border: 5px solid red;
}

.prova {
    background-color: blue;
}


/* Selettori per id */
#pippo {
    color: green;
    background-color: unset ;
}


a[title] {
    background-color: cornflowerblue;
}

a[href="contatti.html"] {
    background-color: crimson;
}

p[class] {
    color: magenta;
}


/* Prende un elemento che ha tra le classi (dentro l'attributo class) la parola box oppure ha box tra le altre classi. 
Non va a verificare che la parola box sia presente come sottostringa di una parola */
a[class~="box"] {
 background-color: rgb(9, 118, 214);   
}

/* Prende un elemento che ha tra le classi (dentro l'attributo class) una parola che inizia con -box e gli applica lo stile, altrimenti non lo fa */
a[class^="-box"] {
    background-color: green;
}

/* Prende un elemento che ha nell'attributo class parole che contengono boxing. Non importa dove stanno, va benissimo anche come substring interna al valore di quell'attributo */
a[class*="boxing"] {
    background-color: magenta;
}

/* Prende un elemento che ha tra le classi (deve finire con il valore scritto dentro class) una parola che finisce con -box e gli applica lo stile, altrimenti non lo fa */
a[class$="-box"] {
    background-color: brown;
}



/* Pseudo Classe*/

a:hover {
    color: chartreuse;
}


/* Pseudo elemento*/

p::first-line .pseudo {
    font-weight: 800;
}





